<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-chat">
    <a href="">チャットを作成する</a>
  </div>
</div>
<div class="side-bar-main">
  <div class="chat-rooms">
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
    <div class="chat-room-name">
      <a href="">hoge</a>
    </div>
  </div>
</div>