.wrapper{
  display: flex;
}
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.chat{
  background-color: #ffffff;
  width: calc( 100vw - 300px );
}
/*chat*/
.chat-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}
.chat-main{
  background-color: #FAFAFA;
  height: calc( 100vh - 190px );
  padding: 46px 40px 0 40px;
  overflow: scroll;
}
.chat-form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}
/*side-bar*/
.side-bar-header{
  height: 100px;
  padding: 0 40px;
}
.side-bar-main{
  background-color: #2f3e51;
  height: calc( 100vh - 100px );
  padding: 0 40px;
  overflow: scroll;
}
/*side-bar-header*/
.side-bar-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-align: left;
  text-decoration: none;
}
.create-chat a{
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-decoration: none;
}
/*chat-room-name*/
.chat-room-name{
  padding: 20px 0 40px 0;
}
.chat-room-name a{
  color: #FFFFFF;
  text-decoration: none;
}
/*chat-header*/
.chat-header{
  display: flex;
  justify-content: space-between;
}
.room-title{
  font-size: 24px;
  color: #333333;
  margin-top: 36px;
}
.finish-chat{
  margin-top: 40px;
}
.finish-chat a{
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
}
/*chat-main*/
.upper-message{
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.message-user{
  margin-right: 10px;
  font-size: 16px;
  color: #434A54;
}
.message-date{
  font-size: 12px;
  color: #999999;
}
.message-content{
  font-size: 14px;
  color: #434A54;
}
.message{
  margin-bottom: 40px;
}
/**/
.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}
.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit{
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  height: 50px;
  margin: 20px 0 20px 15px;
  padding: 0 20px;
  border: none;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}